{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="color-scheme" content="light">
  <meta name="viewport" content="initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'other/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'other/milligram.css' %}">
  <link rel="stylesheet" href="{% static 'main.css' %}">
  <title>{% block title %}inventory{% endblock %}</title>
  {% block head %}{% endblock %}
</head>
<body>
  <header class="container">
    {% block nav %}
    <nav>
      <a href="{% url 'index' %}">inventory</a>
      <ul>
        <li><a href="{% url 'item_add' %}">add food item</a></li>
        <li><a href="{% url 'update' %}">update items</a></li>
      </ul>
    </nav>
    {% endblock %}
    {% block header %}
    {% endblock %}
  </header>
  <main class="container">
    {% block main %}
    {% endblock %}
  </main>
  <footer class="container middle">
    {% block footer %}
    <p>2020, made by Ewan Macpherson ~
    {% endblock %}
  </footer>
</body>
</html>
