{% extends 'base.html' %}
{% load common %}
{% load static %}

{% block head %}
<script src="{% static 'd3.min.js' %}" defer></script>
<script src="{% static 'index.js' %}" defer></script>
{% endblock %}

{% block nav %}{% endblock %}

{% block header %}
<h1>inventory</h1>
<p>manage your food stockpile!</p>
{% endblock %}

{% block main %}
<section id="table-items">
  {% if list_items %}
  <table>
    <thead>
      <tr>
        <th>Food item</th>
        <th>Quantity</th>
        <th>Last updated</th>
        <th>How long left?</th>
      </tr>
    </thead>
    <tbody>
      {% for i in list_items %}
      <tr>
        <td><a href="{{ i.get_absolute_url }}">{{ i.name }}</a></td>
        <td><strong>{{ i.latest_record.print_quantity }}</strong></td>
        <td>{% time_since i.latest_record.added %}</td>
        <td>{% time_since i.expected_end.date %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>Add a food item to start</p>
  {% endif %}
</section>
<article id="chart-container">
</article>
<section id="actions">
<p>
  <a href="{% url 'item_add' %}"><em>Add food item</em></a>
  {% if list_items %}<a href="{% url 'update' %}"><em>Update records</em></a>{% endif %}
</p>
</section>
<script>
const DATA = JSON.parse('{{ data|safe }}');

window.addEventListener("load", () => {
    const container = document.getElementById("chart-container");
    const chart = createChart(DATA);
    if (chart) {
        container.appendChild(chart.node());
    }
});
</script>
{% endblock %}
