{% extends 'base.html' %}
{% load common %}
{% load static %}

{% block head %}
<script src="{% static 'other/d3.min.js' %}" defer></script>
<script src="{% static 'index.js' %}" defer></script>
{% endblock %}

{% block header %}
<h1>inventory</h1>
<p>manage your food stockpile!</p>
{% endblock %}

{% block main %}
<section class="three-quarters middle">
  {% if list_items %}
  <table id="table-items">
    <thead>
      <tr>
        <th>Food item</th>
        <th data-column-type="float">Quantity</th>
        <th data-column-type="date" data-column-reverse="yes">Last updated</th>
        <th data-column-name="time remaining" data-column-type="date">How long left?</th>
      </tr>
    </thead>
    <tbody>
      {% for i in list_items %}
      <tr>
        <td><a href="{{ i.get_absolute_url }}">{{ i.name }}</a></td>
        <td data-column-key="{% if i.latest_record.quantity is not None %}{{ i.latest_record.quantity }}{% endif %}"><strong>{{ i.latest_record.print_quantity }}</strong></td>
        <td data-column-key="{% if i.latest_record.added is not None %}{% timestamp i.latest_record.added %}{% endif %}">{% time_since i.latest_record.added %}</td>
        {% with end=i.expected_end %}
        <td data-column-key="{% if end is not None %}{% timestamp end %}{% endif %}">{% time_since end.date %}</td>
        {% endwith %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>Add a food item to start</p>
  {% endif %}
</section>
<section class="half middle">
  <a class="button button-outline" href="{% url 'item_add' %}">Add food item</a>
  {% if list_items %}<a class="button button-outline" href="{% url 'update' %}">Update records</a>{% endif %}
</section>
<section id="chart-container">
</section>
<script>
const SOURCE = "{% url 'records' %}";
const URL = "{% url 'item_get' 'ITEM' %}"
const PLACEHOLDER = "ITEM";

window.addEventListener("load", () => {
    createChart(SOURCE, "chart-container", URL, PLACEHOLDER);
});
window.addEventListener("load", () => {
    const table = document.getElementById("table-items");
    if (table) {
        new OrderedTable(table, 0, 1);
    }
});
</script>
{% endblock %}
