{% extends 'base.html' %}
{% load common %}
{% load static %}

{% block head %}
<script src="{% static 'd3.min.js' %}" defer></script>
<script src="{% static 'index.js' %}" defer></script>
{% endblock %}

{% block title %}{{ item.name }}{% endblock %}

{% block header %}
<h1>{{ item.name }}</h1>
<p>Created {% format_time item.added %}</p>
{% endblock %}

{% block main %}
<section class="three-quarters middle">
  {% if item.all_records %}
  <table id="table-records">
    <thead>
      <tr>
        <th data-column-type="date" data-column-reverse="yes">Added</th>
        {% with unit=item.unit.display %}
        {% if unit %}
        <th data-column-type="float" data-column-name="quantity">Quantity ({{ unit }})</th>
        {% else %}
        <th data-column-type="float">Quantity</th>
        {% endif %}
        <th data-column-type="float">Delta</th>
        {% endwith %}
      </tr>
    </thead>
    <tbody>
      {% for r in item.all_records %}
      <tr>
        <td data-column-key="{% timestamp r.added %}">{% time_since r.added %}</td>
        <td data-column-key="{{ r.quantity }}"><strong>{{ r.format_quantity }}</strong></td>
        <td data-column-key="{{ r.delta }}">{{ r.format_delta }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No records found</p>
  {% endif %}
</section>
<section id="chart-container">
</section>
<hr>
{% if add_record.errors and add_record.non_field_errors %}
<section>
  {% for error in add_record.non_field_errors %}
    <p style="color: red"><strong>{{ error|escape }}</strong></p>
  {% endfor %}
</section>
{% endif %}
<div class="row">
  <section class="column">
    <h2>add record</h2>
    <form action="{% url 'record_add' item.ident %}" method="post">
      {% csrf_token %}
      {{ add_record.quantity.label_tag }}
      {{ add_record.quantity }}
      {% for error in add_record.quantity.errors %}
      <p style="color: red"><strong>{{ error|escape }}</strong></p>
      {% endfor %}
      {{ add_record.unit.label_tag }}
      {{ add_record.unit }}
      {% for error in add_record.unit.errors %}
      <p style="color: red"><strong>{{ error|escape }}</strong></p>
      {% endfor %}
      {{ add_record.note.label_tag }}
      {{ add_record.note }}
      {% for error in add_record.note.errors %}
      <p style="color: red"><strong>{{ error|escape }}</strong></p>
      {% endfor %}
      <button type="submit">Add</button>
    </form>
  </section>
  <section class="column">
    {% if edit_item.errors and edit_item.non_field_errors %}
    {% for error in edit_item.non_field_errors %}
    <p style="color: red"><strong>{{ error|escape }}</strong></p>
    {% endfor %}
    {% endif %}
    <h2>edit item</h2>
    <form action="{% url 'item_get' item.ident %}" method="post">
      {% csrf_token %}
      {{ edit_item.name.label_tag }}
      {{ edit_item.name }}
      {% for error in edit_item.name.errors %}
      <p style="color: red"><strong>{{ error|escape }}</strong></p>
      {% endfor %}
      {{ edit_item.unit.label_tag }}
      {{ edit_item.unit }}
      {% for error in edit_item.unit.errors %}
      <p style="color: red"><strong>{{ error|escape }}</strong></p>
      {% endfor %}
      {{ edit_item.minimum.label_tag }}
      {{ edit_item.minimum }}
      {% for error in edit_item.minimum.errors %}
      <p style="color: red"><strong>{{ error|escape }}</strong></p>
      {% endfor %}
      <button type="submit">Update</button>
      <a class="button button-outline" href="{% url 'item_delete' item.ident %}">Delete item</a>
    </form>
  </section>
</div>
<script>
const DATA = JSON.parse('{{ data|safe }}');
window.addEventListener("load", () => {
    new InventoryChart("chart-container", DATA);
})
window.addEventListener("load", () => {
    const table = document.getElementById("table-records");
    if (table) {
        new OrderedTable(table, 0, 1);
    }
});
</script>
{% endblock %}
