{% extends 'base.html' %}

{% block title %}add item{% endblock %}

{% block header %}
<h1>add food item</h1>
{% endblock %}

{% block main %}
<section class="half">
  {% if just_added %}
  <p class="valid"><strong>{{ just_added|capfirst }}</strong> added.</p>
  {% endif %}
  {% if new_item.errors and new_item.non_field_errors %}
  {% for error in new_item.non_field_errors %}
  <p class="invalid"><strong>{{ error|escape }}</strong></p>
  {% endfor %}
  {% endif %}
  {% if record.errors and record.non_field_errors %}
  {% for error in record.non_field_errors %}
  <p class="invalid"><strong>{{ error|escape }}</strong></p>
  {% endfor %}
  {% endif %}
  <form action="{% url 'item_add' %}" method="post">
    {% csrf_token %}
    {{ new_item.name.label_tag }}
    {{ new_item.name }}
    {% for error in new_item.name.errors %}
    <p class="invalid"><strong>{{ error|escape }}</strong></p>
    {% endfor %}
    {{ new_item.unit.label_tag }}
    {{ new_item.unit }}
    {% for error in new_item.unit.errors %}
    <p class="invalid"><strong>{{ error|escape }}</strong></p>
    {% endfor %}
    {{ new_item.minimum.label_tag }}
    {{ new_item.minimum }}
    {% for error in new_item.minimum.errors %}
    <p class="invalid"><strong>{{ error|escape }}</strong></p>
    {% endfor %}
    {{ record.quantity.label_tag }}
    {{ record.quantity }}
    {% for error in record.quantity.errors %}
    <p class="invalid"><strong>{{ error|escape }}</strong></p>
    {% endfor %}
    <button type="submit">Add</button>
    <button type="submit" name="another" value="1">Add another</button>
  </form>
</section>
{% endblock %}
