{% extends 'base.html' %}

{% block title %}update records{% endblock %}

{% block header %}
<h1>update records</h1>
{% endblock %}

{% block main %}
{% if update.items %}
<section class="three-quarters">
  {% if update.errors and update.non_field_errors %}
  {% for error in update.non_field_errors %}
  <p style="color: red"><strong>{{ error|escape }}</strong></p>
  {% endfor %}
  {% endif %}
  <form action="{% url 'update' %}" method="post">
    {% csrf_token %}
    <table>
      <thead>
        <tr>
          <th>Food item</th>
          <th>Original</th>
          <th>New</th>
        </tr>
      </thead>
      <tbody>
        {% for ui in update.iter_items %}
        <tr>
          <td><label for="{{ ui.field.id_for_label }}">{{ ui.item.name }}</label></td>
          <td>{{ ui.item.latest_record.print_quantity }}</td>
          <td>{{ ui.field }}</td>
        </tr>
        {% for error in ui.field.errors %}
        <tr>
          <td rowspan="3" style="color: red"><strong>{{ error|escape }}</strong></td>
        </tr>
        {% endfor %}
        {% endfor %}
      </tbody>
    </table>
    <label for="update-note">Note:</label>
    <textarea id="update-note" name="note"></textarea>
    <button type="submit">Update</button>
    <a class="button button-outline" href="{% url 'index' %}">Back</a>
  </form>
</section>
{% else %}
<section class="three-quarters middle">
  <p>No items found</p>
</section>
{% endif %}
{% endblock %}
